# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: ["main"]
    paths:
      - 'source/**'
  pull_request:
    branches: [ "main" ]

jobs:
  BuildWatchface:
    runs-on: ubuntu-latest
    environment: Build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Using BuildConnectIQ
  # You may pin to the exact commit or the version.
  # uses: blackshadev/garmin-connectiq-release-action@adc9fc3fa083615a8e62d476fc58f1efbb80d3b7
        uses: blackshadev/garmin-connectiq-release-action@8.3.0
        with:
    # Developer key to sign the export with. Please do not push this to your repo unencrypted
          developerKey: ./developer_key
    # Path to the monkey.jungle file
          projectJungle: ./monkey.jungle
    # Output path of the export
          outputPath: ./out/app.iq
          
      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Venu2-${{ vars.APP_NAME }}-${{ github.runid }}
          path: out/app.iq